.hero {
  width: 100vw;
  height: 100vh;
}

.herotext {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; 
  font-size: 2rem;
  text-align: center; 
  background-color: rgba(12, 11, 10, 0.596);
  padding: 10px 20px;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
